<div class="container">
  <div class="row content">
    <div class="col p-0">
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem *ngFor="let element of [].constructor(4); index as i">
          <button ngbNavLink class="fs-14 p-0">Lorem{{ i + 1 }}</button>
          <ng-template ngbNavContent>
            <form [formGroup]="formGroup" class="form-calculation">
              <div class="form-group position-relative">
                <label>Amount?</label>
                <div
                  class="d-flex align-items-center form-input {{
                    formGroup.controls.amount.errors ? 'in-valid' : ''
                  }}"
                >
                  <input
                    type="text"
                    (input)="calculate()"
                    appNumberMask
                    [formControl]="formGroup.controls['amount']"
                    id="amount"
                    class="fs-18 fw-medium"
                  />
                  <div class="opt d-flex">
                    <button
                      class="opt-button btn minus icon-minus"
                      (click)="mathOpt(-1000)"
                    ></button>
                    <button
                      class="opt-button btn plus icon-plus"
                      (click)="mathOpt(1000)"
                    ></button>
                  </div>
                </div>
                <span
                  class="in-valid"
                  *ngIf="formGroup.controls.amount.errors"
                  >{{
                    formGroup.controls.amount.getError("custom").message
                  }}</span
                >
              </div>
              <div class="form-group">
                <label>Currency?</label>
                <ng-select
                  [items]="currency"
                  #select
                  bindLabel="name"
                  bindValue="val"
                  [formControl]="formGroup.controls['currency']"
                  id="currency"
                  (change)="calculate()"
                  class="form-input"
                  [searchable]="false"
                  [searchFn]="testSearch"
                >
                  <ng-template ng-header-tmp>
                    <div class="form-group has-feedback position-relative">
                      <i class="icon-search"></i>
                      <input
                        style="width: 100%; line-height: 24px"
                        type="text"
                        class="form-control fs-14"
                        id="inputValidation"
                        placeholder="Lorem"
                        (input)="filterSelectOptions(select, $event)"
                      />
                    </div>
                    <p class="fs-14 drop-down-text fw-normal">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit
                    </p>
                  </ng-template>
                  <ng-template ng-label-tmp let-item="item">
                    <span class="d-flex align-items-center fs-18">
                      {{ item.name ? item.name : "Select currency" }}
                      <span
                        *ngIf="item.name"
                        class="apr fs-12 fw-medium d-inline-flex align-items-center"
                        >apr:{{ item.val }}%</span
                      >
                    </span>
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item">
                    <div class="d-flex align-items-center opt-item">
                      <span class="d-flex align-items-center">
                        {{ item.name }}
                        <span
                          class="apr fs-12 fw-medium d-inline-flex align-items-center"
                          >apr:{{ item.val }}%</span
                        >
                      </span>
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="form-group">
                <label>Period?</label>
                <ng-select
                  [items]="period"
                  [formControl]="formGroup.controls['period']"
                  [searchable]="false"
                  id="period"
                  (change)="calculate()"
                  class="form-input"
                >
                  <ng-template ng-label-tmp let-item="item">
                    <div class="d-flex align-items-center">
                      <span class="d-flex fs-18">
                        {{ item ? item : "Select period" }}
                      </span>
                    </div>
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item">
                    <div class="d-flex align-items-center opt-item">
                      <span class="d-flex">
                        {{ item }}
                      </span>
                    </div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="check-info d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <span class="text">Lorem ipsum</span>
                  <i class="icon-tooltip fs-14 disable"></i>
                </div>
                <div class="check position-relative d-inline-flex">
                  <input type="checkbox" />
                  <div class="check-outer">
                    <span class="check-track"></span>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <span class="text">Lorem ipsum dolor sit </span>
                  <span
                    class="custom-style"
                    placement="top"
                    ngbTooltip="Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus cumque animi mollitia ipsam quae fuga voluptatibus aut quia autem nulla corrupti suscipit quam, rem"
                  >
                    <i class="icon-tooltip fs-14 active"></i>
                  </span>
                </div>
              </div>
            </form>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
    <div class="col-auto p-0">
      <div class="result">
        <span class="sub fw-normal">Profit</span>
        <h1 class="fs-55 mb-h1 fw-bold">${{ calculatedValue }}</h1>
        <span class="sub fw-normal">Percent</span>
        <h2 class="fs-55 mb-0 fw-bold">
          {{ formGroup.value.currency ? formGroup.value.currency : "0" }}%
        </h2>
        <span class="under fs-12"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit</span
        >
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center star-items">
            <span class="icon-star fs-17"></span>
            <span class="icon-star fs-20"></span>
            <span class="icon-star fs-22"></span>
            <span class="icon-star fs-23"></span>
            <span class="icon-star fs-24"></span>
          </div>
          <button class="btn custom-button fs-18 fw-bold">
            Lorem ipsum dolor sit
          </button>
        </div>
        <p class="fs-12 fw-light lorem-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus cumque
          animi mollitia ipsam quae fuga voluptatibus aut quia autem nulla
          corrupti suscipit quam, rem veniam, reiciendis, temporibus magni quis
          velit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
          cumque animi mollitia ipsam quae fuga voluptatibus aut quia autem
          nulla corrupti suscipit quam, rem veniam, reiciendis, temporibus magni
          quis velit! Lorem ipsum dolor sit amet consectetur adipisicing
        </p>
      </div>
    </div>
  </div>
</div>
